* {
  box-sizing: border-box;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: serif;
  color: rgba(0, 255, 255, 0.5);
  /* text-align: center; */
  top: 15%;
  background: linear-gradient(to right, rgb(0, 60, 97), white) no-repeat center
    center fixed;
}

h1 {
  line-height: 30px;
  font-size: 20px;
  color: black;
  font-family: "Dosis", sans-serif;
  /* border-bottom: 2px solid black;*/
  text-align: center;
  margin: 10px;
}

h3 {
  font: 900 1em "Aboreto", cursive;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  font-size: 25px;
}

h2 {
  font: sans-serif;
  color: black;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  font-size: 30px;
}

h4 {
  color: black;
  font-size: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  margin: 2.5em;
}

img {
  max-width: 85%;
  /*width: 350px;*/
  height: auto;
  margin-left: 18px;
}

.btn {
  border-color: black;
  color: #ffffff80;
}

.btn:hover {
  outline-color: black;
  background-color: white;
  color: black;
}

.navbar-brand {
  font-size: 22px;
  font-family: sans-serif;
}

.nav-link {
  font-size: 20px;
  font-family: sans-serif;
}

.dropdown-item {
  font-size: 18px;
  font-family: serif;
  line-height: 0px;
}

.btn {
  font-size: 20px;
  font-family: sans-serif;
}
.form_control {
  display: inherit;
  width: 100%;
  padding: 1em 1em;
}

#results {
  display: block;
  background-color: white;
  opacity: 0.9;
  color: black;
  line-height: 0px;
  position: absolute;
}
.hidden {
  display: none;
}

.column {
  width: 33.33%;
  margin: 20px;
  transition: all 1s;
}

/* .column:hover {
  transform: scale(1.2);
} */

.column img {
  margin-top: 10px;
  vertical-align: middle;
}

.row {
  content: "";
  clear: both;
  display: table;
  padding: 10;
}

.backgroundband {
  background-color: rgb(168, 168, 168, 0.25);
}
.backgroundband2 {
  background-color: rgb(168, 168, 168, 0.25);
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}
.fade-in-image {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.writing {
  animation-name: movetext;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  font-size: 50px;
  font-family: "Alumni Sans Collegiate One", sans-serif;
}

@keyframes movetext {
  0% {
    text-align: left;
  }

  33% {
    text-align: center;
  }

  66% {
    text-align: right;
  }

  100% {
    text-align: left;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.footer-dark {
  /*padding:50px 0;*/
  color: #f0f9ff;
  background-color: black;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    /*padding-bottom:20px;*/
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 40px;
  width: 60px;
  height: 60px;
  /*line-height:36px;*/
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: right;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 20px;
  margin-bottom: 0;
}

/* https: //epicbootstrap.com/snippets/footer-dark */
